/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-image: url("../img/background.png");
  background-size: cover;
  font-family: Verdana, Arial;
}


/* pagina */
#container {
  width: 60%;
  margin: 10px auto;
  /* debug *
  height: 200px;
  background-color: red;
  /* fine debug */
}

/* header */
header {
  margin-bottom: 20px;
  background-image: url("../img/jungle.jpg");
  background-size: cover;
  height: 400px;
  position: relative;
}

.overlay {
background-color: rgba(0, 0, 0, 0.6);
height: 90%;
border: 5px solid white;
text-align: center;
color: white;
}

/* menu di navigazione */

nav {
  height: 10%;
  width: 100%;
  background-color: grey;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

/* parte principale */

main {
  /* debug
  background-color: yellow;
  /* fine debug */
}


aside {
  float: left;
  width: 20%;
  /* debug
  height: 200px;
  background-color: lightblue;
  /* fine debug */
}

#feed {
width: 30px;
height: 30px;
float: left;
}

h4 {
float: left;
padding-bottom: 15px;
padding-left: 5px;
}

.box-green {
color: green;
}

section {
  float: left;
  width: 50%;
  margin: 0 5%;
  /* debug
  height: 400px;
  background-color: blue;
  /* fine debug */
}

.white-box {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 14px;
  color: #000;
}




/* footer */
footer {
background-color: white;
height: 100px;
text-align: center;
  /* debug
  background-color: red;
  /* fine debug */
}

.social {
  width: 40px;
  height: 40px;
  text-align: center;
}
